<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <section>
        <div
          class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
        >
          <div class="col-md-4 d-flex align-items-center">
            <div class="lc-block text-center mb-3 mb-md-0">
              <a class="navbar-brand" href="#">
                <img
                  class="img-fluid me-1"
                  src="../../img/storybound_books_logo_black.png"
                  alt="my brand"
                  width="120px"
                  height="120px"
                />
              </a>

              <span editable="inline" class="text-muted"
                >© 2024 Storybound Books</span
              >
            </div>
          </div>
        </div>
      </section>
    </footer>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
