<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" />
    <title>Document</title>
  </head>
  <iframe src="headerAdmin.html" style="width: 100%"></iframe>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Registro de Libro</h1>
      <div class="card shadow-sm">
        <div class="card-body">
          <form id="bookForm">
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="titulo" class="form-label">Título</label>
                <input
                  type="text"
                  class="form-control"
                  id="titulo"
                  name="titulo"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="autor" class="form-label">Autor</label>
                <input
                  type="text"
                  class="form-control"
                  id="autor"
                  name="autor"
                  required
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-4">
                <label for="editorial" class="form-label">Editorial</label>
                <input
                  type="text"
                  class="form-control"
                  id="editorial"
                  name="editorial"
                  required
                />
              </div>
              <div class="col-md-4">
                <label for="anioPublicacion" class="form-label"
                  >Año de Publicación</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="anioPublicacion"
                  name="anioPublicacion"
                  required
                />
              </div>
              <div class="col-md-4">
                <label for="formato" class="form-label">Formato</label>
                <input
                  type="text"
                  class="form-control"
                  id="formato"
                  name="formato"
                  required
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="idioma" class="form-label">Idioma</label>
                <input
                  type="text"
                  class="form-control"
                  id="idioma"
                  name="idioma"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="categoria" class="form-label">Categoría</label>
                <input
                  type="text"
                  class="form-control"
                  id="categoria"
                  name="categoria"
                  required
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="precio" class="form-label">Precio</label>
                <input
                  type="number"
                  class="form-control"
                  id="precio"
                  name="precio"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="stock" class="form-label">Stock</label>
                <input
                  type="number"
                  class="form-control"
                  id="stock"
                  name="stock"
                  required
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="sipnosis" class="form-label">Sinopsis</label>
              <textarea
                class="form-control"
                id="sipnosis"
                name="sipnosis"
                rows="3"
                required
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="imagenURL" class="form-label">Imagen</label>
              <input
                type="file"
                class="form-control"
                id="imagenURL"
                name="imagenURL"
                required
              />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary w-100">
                Registrar Libro
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <iframe src="footerAdmin.html" style="width: 100%"></iframe>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
