<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración Storybound Books</title>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
</head>
<body>
    <iframe src="headerAdmin.html" style="width: 100%;"></iframe>
    <main>

    </main>
    <iframe src="footerAdmin.html" style="width: 100%;"></iframe>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>